@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');


.card1{
    border: 0.4px solid black;
    height: 350px;
    width: 61%;
    margin-left: 40px;
    margin-top: 30px;
    border-radius: 10px;
    /* display: grid; */
    background-color: rgb(255, 255, 255);
}
.card2{
    border-bottom: 0.4px solid ;
    background-image: radial-gradient(white 1%,rgb(61, 114, 228));
    border-radius: 7px;
    margin-top: 0.4px;
    /* width: %; */
    /* margin-left: 0.5px; */
    height: 130px;
}
.card3{
    border-bottom: 0.4px solid;
    height: 160px;

}
.card4 b{
    /* font-family: 'Ubuntu', sans-serif; */
    /* font-weight: 900; */
    font-size: 11px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
    position: relative;
    top: 17px;
    left: 30px;
    color: darkmagenta;
    width: 20%;
    /* padding: 1px; */
}
.card4{
    width: 30%;
   
    /* border: 2px solid red; */
    /* height: 57px; */
}
.link{
    /* border: 2px solid red; */
    position: relative;
    left: 160px;
    top: -16px;
    font-size: 17px;
    /* width: 10%; */
}
.card2 img{
    border-radius: 5px;
    margin-left: 80px;
    margin-top: 10px;
    border-radius: 50%;
}
.card3 h5{
    margin-left: 22px;
    margin-top: 50px;
    font-size: 15px;
    font-family: 'Libre Baskerville', serif;
}
.dur h6{
    position: relative;
    top: 38px;
    width: 75%;
    left: 17px;
    /* color: blue; */
    /* background-color: blue; */
    
    /* border: 2px solid; */
    font-size: -5px;
}
#b{
    color: blue;
}
.dur{
    position: relative;
    left: 5px;
    /* color: blue; */
}
.card3 h6{
    font-family: 'Libre Baskerville', serif;
    position: relative;
    left: 20px;
    
    font-size: 14px;
    font-weight: 400;
    /* background-color: rgb(247, 158, 158); */
    /* width: 11%; */
    color: red;
    /* border: 0.4px; */
    border-radius: 5px;
}
.sub{
    position: relative;
    top: 27px;
    left: 5px;
    /* border: 1px solid; */
    width: 70%;
    height: 30px;
    height: 18px;
    border-radius:5px ;
    /* background-color: rgb(255, 186, 186); */
}
.sub h6{
    width: 100%;
    /* border: 2px solid; */
}
.xyz{
    width:120% ;
    /* border: 2px solid ; */
    /* margin-left: -20px; */
    position: relative;
    left: 0px;


}

@media screen and (min-width:375px) and (max-width:600px){
    .card1{
    height: 250px;
    width: 60%;
    /* margin-right: 3px; */
    display: block;
    margin-left: 90px;
    }
    .card2{
        height: 90px;
    }
    .card3{
        height: 120px;
    }
    .card4 {
        
        width: 100%;
        /* border: 2px solid red; */
        height: 20px;
        width: 40%;
    }
    .card4 h5{
        font-size: 12px;
        position: relative;
        top: -7px;
        left: -15px;
    }
    .card2 img{
        height: 50px;
        width: 50px;
        margin-left: 45px;
    }
    .card3 h6{
        left: 10px;
        font-size: 9px;
    }
    .sub{
        top: 10px;
    }.card3 h5{
        font-size: 8px;
        margin-left: 10px;
    }
    .link{
       
        position: relative;
        left: 90px;
        top: -10px;
        font-size: 9px;
      
    }
 
    
}

@media screen and (min-width:601px) and (max-width:800px){
    .card1{
        display: block;
        width: 60%;
        margin-left: 10em;
        margin-top: 4em;
    }
}
@media screen and (min-width:801px) and (max-width:1025px){
    .card1{
        /* width: 80%; */
        margin-left: 180px;
    }
   
}
@media screen and (max-width:1026px) and (min-width:1290px){
    .card1{
        width: 70% ;
    }   
}

@media screen and (min-width:1300px) and (max-width:1441px){
    .card1{
        width: 70%;
    }
}
@media screen and (min-width:1530px){}