@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mina&display=swap');


nav{
    border: 2px solid rgb(90, 137, 239);
    height: 60px;
    background-color: rgb(90, 137, 239);
    color: rgb(255, 255, 255);
    font-size: 20px;
    box-shadow: 10px 10px 18px 1px rgb(161, 159, 159);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    padding: 25px;
    position: sticky;
}
h6{
    font-size: 10px;
    position: relative;
    left: 19px;
    top: 0px;
    width: 20%;
}
nav h3{

    position: absolute;
    top: 2px;
    left: 10px;
    font-family: 'Hedvig Letters Serif', serif;
    font-size: 20px;
}
nav h3 span{
    font-size: 36px;
    font-family: 'Mina', sans-serif;
    color: lightsalmon;
    font-weight: 700;
}
.nav-link{
    color: aliceblue;
    font-weight: 400;
    font-size:20px;
    position: relative;
    top: 4px;
    
}
.hu{
    /* display: block; */
}
.nav-link:hover{
    color: black;
}
@media screen and (min-width:375px) and (max-width:600px) {
    .nav-link{
        display: none;
        font-size: 10px;
        margin-right: -23px;
    }
    h6{
        font-size: 10px;
        position: relative;
        left: 13px;
        top: 20px;
        width: 100%;

    }

    
}